{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/static/jquery-1.12.4.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/static/bootstrap.min.js"></script>
    <script src="{% static "bootstrap-paginator.js" %}"></script>
    <link href="{% static "bootstrap-paginator.css" %}" rel="stylesheet">
    <style>
        .top_panel {
            margin-top: 100px;
        }
        .btn {
            width: 100%;
        }
        .nospace{
            margin:0px;
            padding: 0px;
        }
    </style>
    <title>用户数据</title>
    <script src="{% static "common.js" %}"></script>
    <script src="{% static "qrcode.min.js" %}"></script>
</head>
<body>
    <div class="container-fluid nospace">
        <div class="row nospace">
            <div class="col-xs-12 nospace">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">微信绑定</h3>
                    </div>
                  <div class="panel-body" style="padding:0px;margin:0px">
                    <ul class="list-group">
                        <li class="list-group-item" style="background-color:#f5f5f5;">
                            <b>总计</b>
                        </li>
                        <li class="list-group-item">
                             <b>玩家数:</b>{{total}}
                        </li>
                        <li class="list-group-item" style="background-color:#f5f5f5"><b>添加/查询</b></li>
                        <li class="list-group-item">
                            <form class="form-inline">
                              <div class="form-group">
                                <label for="nickname">昵称:</label>
                                <input type="email" class="form-control" id="nickname" placeholder="请输入微信昵称" value="{{nickname}}">
                              </div>
                              <div class="form-group">
                                <label for="gameid">gameid:</label>
                                <input type="email" class="form-control" id="gameid" placeholder="请输入gameid" value="{{gameid}}">
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-primary" onclick="search()">查询</button>
                              </div>
                            </form>
                        </li>
                        <li class="list-group-item">
                            <form class="form">
                              <!--<div class="form-group">
                                <button type="button" class="btn btn-default" onclick="wechat_bind_all()">一键绑定</button>
                              </div>-->
                            </form>
                            <script type="">
                                /*function wechat_bind_all(){
                                    if(confirm('确定要绑定吗？')==false)
                                        return;
                                    $("#bind_form").submit();
                                }*/
                            </script>
                        </li>
                        <li class="list-group-item">
                            <form method="POST" id="bind_form" action="/wechat_bind_all">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>微信/备注昵称</th>
                                        <th>操作</th>
                                       <!-- <th>历史总盈亏</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for player in players %}
                                        <input type="hidden" class="form-control" name="player_id" value="{{player.id}}">

                                        <tr>
                                            <td width="30%">
                                                {% for gameid in player.gameids %}
                                                {{gameid.gameid}}({{gameid.game_nick_name}})<br/>
                                                {% endfor %}
                                            </td>
                                            <td width="40%">
                                                <input type="email" class="form-control" id="nick_name_{{player.id}}" name="nick_name" value="{{player.nick_name}}">
                                            </td>
                                            <td width="30%" align="center" id="is_bind_{{ player.id }}">
                                                {% if player.is_bind == 0%}
                                                    <!--
                                                    <span style="color:red">未绑定</span>
                                                    -->
                                                    <button type="button" class="btn btn-default" style="color: red" onclick="wechat_friends({{player.id}})">未绑定</button>
                                                {% else %}
                                                    <button type="button" class="btn btn-default" style="color: green" onclick="wechat_friends({{player.id}})">已绑定</button>
                                                {% endif %}
                                            </td>
                                           <!-- <td>
                                                {{player.history_profit}}
                                            </td>-->
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </form>
                        </li>
                    </ul>
                    <div id="pagintor" style="margin-left: auto;margin-right: auto;display: block;"></div>
                  </div>

                  <div class="panel-footer text-right">
                    <a class="btn btn-link" href="/">返回</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        请选择绑定的微信
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <tbody id="friends_div">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary" onclick="add_gameid()">
                        添加
                    </button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <script>
        function search(){
            window.location.href = "/player_data?nickname="+$('#nickname').val()+"&gameid="+$('#gameid').val() + "&pageSize={{ pageSize }}&pageIndex={{ pageIndex }}";
        }

        var options = {
            alignment:"center",//居中显示
            currentPage: {{ pageIndex }},//当前页数
            totalPages: {{ totalPage }},//总页数 注意不是总条数
            pageUrl: function(type, page, current){
                    if (page==current) {
                        return "javascript:void(0)";
                    } else {
                        return "/player_data?nickname="+$('#nickname').val()+"&gameid="+$('#gameid').val() + "&pageSize={{ pageSize }}&pageIndex="+page;
                    }
                }
        }
        $("#pagintor").bootstrapPaginator(options);

        function wechat_friends(player_id){
            /*
            if($('#wechat_nick_name_'+player_id).val()==''){
                alert("请输入微信昵称。");
                return;
            }
            */
            if($('#nick_name_'+player_id).val()==''){
                alert("请输入昵称。");
                return;
            }
            /*if($('#profit_'+player_id).val()==''){
                alert("请输入盈利状况。");
                return;
            }*/
            $.post("/wechat_friends",{
                id:player_id,
                nick_name:$('#nick_name_'+player_id).val(),
                //wechat_nick_name:$('#wechat_nick_name_'+player_id).val(),
                //profit:$('#profit_'+player_id).val(),
            },function(data){
                if(data.result == 0){
                    if (data.list.length==0){
                        alert("没有找到好友");
                        return;
                    }
                    html = '';
                    for(var i=0;i<data.list.length;i++){
                        html+='<tr>';
                        //html+='    <td width="30%">';
                        //html+='        <img src="data:image/png;base64,'+data.list[i].HeadImgUrl+'"/>';
                        //html+='    </td>';
                        html+='    <td width="60%">';
                        html+=  data.list[i].NickName+'<br/>'+data.list[i].Signature;
                        html+='    </td>';
                        html+='    <td width="10%">';
                        btn = "wechat_bind("+player_id+",'" + data.list[i].UserName+"','"+ data.list[i].NickName+"')";
                        html+='        <button type="button" class="btn btn-primary" onclick="'+btn+'">绑定</button>';
                        html+='    </td>';
                        html+='</tr>';
                    }
                    $('#friends_div').html(html);
                    $('#myModal').modal();;

                }
                else if (data.result == 2){
                    alert('请先微信扫码登录');
                    window.location.href = "/";
                }
                else if (data.result == 3)
                    alert(data.msg);
            },"json");
        }

        function wechat_bind(player_id, user_name, nick_name){
            var remarkName =  $('#nick_name_'+player_id).val();
            $.post("/wechat_bind",{
                id:player_id,
                user_name:user_name,
                remark_name:remarkName,
                wechat_nick_name: nick_name,

            },function(data){
                if(data.result == 0){
                    alert('绑定成功！');
                    $('#is_bind_' + player_id).html('<span style="color:green">已绑定</span>');
                    $('#nick_name_'+player_id).val(remarkName);
                    $('#myModal').modal('hide');;
                }
                else if (data.result == 2)
                    alert('请先微信扫码登录');
                else if (data.result == 3)
                    alert(data.msg);
            },"json");
        }

    </script>
</body>
</html>