{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .top_panel {
            margin-top: 100px;
        }
        .btn {
            width: 100%;
        }
        .nospace{
            margin:0px;
            padding: 0px;
        }
    </style>
    <title>用户数据【分组】</title>
    <script src="{% static "common.js" %}"></script>
    <script src="{% static "qrcode.min.js" %}"></script>
</head>
<body>
    <div class="container-fluid nospace">
        <div class="row nospace">
            <div class="col-xs-12 nospace">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">用户数据【分组】</h3>
                    </div>
                  <div class="panel-body" style="padding:0px;margin:0px">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <form class="form-inline">
                              <div class="form-group">
                                <label for="dateInput">查询日期</label>
                                <input type="date" class="form-control" id="dateInput" placeholder="请输入查询日期" value="{{date}}">
                              </div>
                              <div class="form-group">
                                <label for="dateInput">队长</label>
                                <input type="text" class="form-control" id="captainInput" placeholder="请输入队长" value="{{cp}}">
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-primary" onclick="search()">按日期查询</button>
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-warning" onclick="searchAll()">查询全部日期</button>
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-danger" onclick="addCaptain()">新增队长</button>
                              </div>
                            </form>
                        </li>
                        <li class="list-group-item">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>队长</th>
                                    <th>玩家</th>
                                    <th>gameid</th>
                                    <th>{{ qryType }}次数</th>
                                    <th>盈亏</th>
                                    <th>管理费</th>
                                   <!-- <th>历史总盈亏</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                    {% for introDict in introAry %}
                                    <tr>
                                        <td width="20%" rowspan="{{ introDict.count }}">
                                            <strong>{{introDict.intorducer.name}}</strong>
                                            <button type="button" class="btn btn-default" cid="{{introDict.intorducer.id}}" cname="{{introDict.intorducer.name}}" onclick="modifyCaptain()">修改名称</button>
                                            <button type="button" class="btn btn-default"  onclick="addMember({{introDict.intorducer.id}})">追加队员</button>
{#                                            <button type="button" class="btn btn-default" onclick="show_captain({{player.id}})">设置队长</button>#}
                                        </td>
                                    </tr>
                                        {% for player in introDict.players %}
                                     <tr>
                                            <td>{{ player.name }}<a href="javascript:void(0);" onclick="del_member({{player.id}}, '{{ player.name }}','{{introDict.intorducer.name}}')"><span style="font-size:20px;margin-left: 5px;">×</span></a></td>
                                            <td>
                                                {% for gameid in player.gameids %}
                                                    {{ gameid.gameid }}
                                                    <br>
                                                {% endfor %}
                                            </td>
                                            <td>{{ player.round }}</td>
                                            <td>{{ player.score }}</td>
                                            <td>{{ player.cost }}</td>
                                     </tr>
                                        {% endfor %}
                                     <tr>
                                        <td></td>
                                        <td><strong>总计</strong></td>
                                        <td><strong>{{ introDict.allRound }}</strong></td>
                                        <td><strong>{{ introDict.allScore }}</strong></td>
                                        <td><strong>{{ introDict.allCost }}</strong></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </li>
                    </ul>
                  </div>
                  <div class="panel-footer text-right">
                    <a class="btn btn-link" href="/">返回</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="captainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        请输入队长名称
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="captainId" value="" />
                    <input type="email" class="form-control" id="captainName" placeholder="请输入队长名称" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="saveCaptain()">
                        保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        请输入昵称
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="nick_search" placeholder="请输入游戏昵称" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="qrybyNick()">
                        查询
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="nickModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        请输入昵称
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <th>微信昵称</th>
                            <th>游戏昵称</th>
                            <th>当前分数</th>
                            <th>操作</th>
                        </thead>
                        <tbody id="nick_table"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <script>

        function search() {
            if($('#dateInput').val() == "") {
                alert("请填写日期");
                return;
            }
            window.location.href = "/score_change_group?date="+$('#dateInput').val() + "&cp="+$("#captainInput").val();
        }

        function searchAll() {
            window.location.href = "/score_change_group?cp="+$("#captainInput").val();
        }

        function addCaptain() {
            $("#captainId").val("");
            $("#captainName").val("");
            $("#captainModal").modal();
        }

        function modifyCaptain() {
            $("#captainId").val($(event.target).attr("cid"));
            $("#captainName").val($(event.target).attr("cname"));
            $("#captainModal").modal();
        }

        function saveCaptain() {
            var captainName = $("#captainName").val();
            if(captainName == "") {
                alert("请输入队长名称");
                return;
            }
            $.post("/save_captain", {
                id: $("#captainId").val(),
                name: captainName,
            },function (data) {
                if(data.result == 0) {
                    alert("保存成功");
                    window.location.reload();
                } else {
                    alert(data.errmsg);
                }
            })
        }

        var captainId = 0;
        function addMember(cid) {
            captainId = cid;
            $("#memberModal").modal();
        }

        function del_member(pid, pname, cname) {
            if(!confirm("您确定要删除【" + cname + "】下的【" + pname + "】吗？")) {
                return;
            }
            $.post("del_member", {
                pid: pid,
            }, function (data) {
                if(data.result == 0) {
                    alert("删除成功");
                    window.location.reload();
                } else {
                    alert(data.errmsg);
                }
            });
        }

        function qrybyNick() {
            var nickName = $("#nick_search").val();
            if(nickName == "") {
                alert("请输入昵称");
                return;
            } else {
                $.post("/nick_players", {
                    nick: nickName
                }, function (data) {
                    $("#nick_table").html("");
                    if(data.players.length == 0) {
                        alert("未找到数据");
                    } else {
                        for(var i = 0; i < data.players.length; i++) {
                            var curPlayer = data.players[i];
                            var tr = "<tr>";
                            tr +=  "<td>" + curPlayer.wechat_nick_name + "</td>";
                            tr += "<td>" + curPlayer.nick_name + "</td>";
                            tr += "<td>" + curPlayer.current_score + "</td>";
                            tr += "<td><button class='btn btn-primary' type='button' onclick='appendMember("+curPlayer.id+")'>追加</td>";
                            tr += "</tr>";
                            $("#nick_table").append(tr);
                            $("#nickModal").modal();
                        }
                    }
                })
            }
        }

        function appendMember(pid) {
            $.post("append_member", {
                cid: captainId,
                pid: pid,
            }, function (data) {
                if(data.result == 0) {
                    alert("追加成功");
                    window.location.reload();
                } else {
                    alert(data.errmsg);
                    $("#captainModal").modal("hide");
                    {#$("#memberModal").modal("hide");#}
                    $("#nickModal").modal("hide");
                }
            });
        }

        function stat(){
            window.location.href = "/stat_xls";
        }

    </script>
</body>
</html>