{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .top_panel {
            margin-top: 100px;
        }
        .btn {
            width: 100%;
        }
        .nospace{
            margin:0px;
            padding: 0px;
        }
    </style>
    <title>用户数据</title>
    <script src="{% static "common.js" %}"></script>
    <script src="{% static "qrcode.min.js" %}"></script>
</head>
<body>
    <div class="container-fluid nospace">
        <div class="row nospace">
            <div class="col-xs-12 nospace">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">用户数据</h3>
                    </div>
                  <div class="panel-body" style="padding:0px;margin:0px">
                    <ul class="list-group">
                        <li class="list-group-item" style="background-color:#f5f5f5;">
                            <b>总计</b>
                        </li>
                        <li class="list-group-item">
                             <b>玩家数:</b>{{total}}
                        </li>
                        <li class="list-group-item" style="background-color:#f5f5f5"><b>添加/查询</b></li>
                        <li class="list-group-item">
                            <form class="form-inline">
                              <div class="form-group">
                                <label for="nickname">昵称:</label>
                                <input type="email" class="form-control" id="nickname" placeholder="请输入微信昵称" value="{{nickname}}">
                              </div>
                              <div class="form-group">
                                <label for="gameid">gameid:</label>
                                <input type="email" class="form-control" id="gameid" placeholder="请输入gameid" value="{{gameid}}">
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-default" onclick="search()">查询</button>
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-default" onclick="add()">添加</button>
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-default" onclick="add_gameid()">添加小号</button>
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-default" onclick="refresh()">刷新</button>
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-default" onclick="log()">上下分记录</button>
                              </div>
                            </form>
                        </li>
                        <li class="list-group-item">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>昵称</th>
                                    <th>id</th>
                                    <th>总分数</th>
                                    <th>操作</th>
                                   <!-- <th>历史总盈亏</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                    {% for player in players %}
                                    <tr>
                                        <td width="25%">
                                            {{player.nick_name}}
                                        </td>
                                        <td width="25%">
                                            {% for gameid in player.gameids %}
                                            {{gameid}}<br/>
                                            {% endfor %}
                                        </td>
                                        <td width="25%">
                                            <span id="current_score_{{player.id}}">
                                            {{player.current_score}}
                                            </span>
                                        </td>
                                        <td width="25%">
                                            <input type="email" class="form-control" id="score_{{player.id}}" value="">
                                            <button type="button" class="btn btn-default" onclick="add_score({{player.id}})">上分+</button>
                                            <button type="button" class="btn btn-default" onclick="minus_score({{player.id}})">下分-</button>
                                        </td>
                                       <!-- <td>
                                            {{player.history_profit}}
                                        </td>-->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </li>
                    </ul>
                  </div>
                  <div class="panel-footer text-right">
                    <a class="btn btn-link" href="/">返回</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function search(){
            window.location.href = "/player_data?nickname="+$('#nickname').val()+"&gameid="+$('#gameid').val();
        }

        function log(){
            window.location.href = "/score_change_log";
        }

       function add(){
            if($('#nickname').val()==''){
                alert("请输入昵称。");
                return;
            }
            if($('#gameid').val()==''){
                alert("请输入游戏id。");
                return;
            }
            $.post("/add_player",{
                nickname:$('#nickname').val(),
                gameid:$('#gameid').val(),
                //profit:$('#profit_'+player_id).val(),
            },function(data){
                if(data.result == 1)
                    alert('昵称已存在！');
                else if(data.result == 2)
                    alert('游戏ID已存在！');
                else if(data.result == 0){
                    alert('添加成功！')
                    window.location.reload();
                }
            },"json");
        }

       function add_gameid(){
            if(confirm('确定要绑定吗？')==false)
                return;
            if($('#nickname').val()==''){
                alert("请输入昵称。");
                return;
            }
            if($('#gameid').val()==''){
                alert("请输入游戏id。");
                return;
            }
            $.post("/add_gameid",{
                nickname:$('#nickname').val(),
                gameid:$('#gameid').val(),
                //profit:$('#profit_'+player_id).val(),
            },function(data){
                if(data.result == 1)
                    alert('用户不存在！');
                else if(data.result == 2)
                    alert('游戏ID已绑定到其他用户！');
                else if(data.result == 0){
                    alert('添加成功！')
                    window.location.reload();
                }
            },"json");
        }

        function add_score(player_id){
            if($('#score_'+player_id).val()==''){
                alert("请输入上分分数。");
                return;
            }
            $.post("/add_score",{
                id:player_id,
                score:$('#score_'+player_id).val(),
                //profit:$('#profit_'+player_id).val(),
            },function(data){
                if(data.result == 0){
                    $('#current_score_'+player_id).html(data.current_score);
                    alert('上分成功！')   
                }
            },"json");
        }

        function minus_score(player_id){
            if($('#score_'+player_id).val()==''){
                alert("请输入下分分数。");
                return;
            }
            $.post("/minus_score",{
                id:player_id,
                score:$('#score_'+player_id).val(),
                //profit:$('#profit_'+player_id).val(),
            },function(data){
                if(data.result == 0){
                    $('#current_score_'+player_id).html(data.current_score);
                    alert('上分成功！')   
                }
            },"json");
        }

        function refresh(){
            window.location.reload();
        }
    </script>
</body>
</html>