{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .top_panel {
            margin-top: 100px;
        }
        .btn {
            width: 100%;
        }
    </style>
    <title>登录</title>
    <script src="{% static "common.js" %}"></script>
    <script src="{% static "qrcode.min.js" %}"></script>
</head>
<body>
    <div class="container-fluid" style="margin:0px;padding:0px">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">设置</h3>
                    </div>
                  <div class="panel-body" style="padding:0px;margin:0px">
                    <ul class="list-group">
                        <li class="list-group-item" style="background-color:#f5f5f5;">
                            <b>抽水设置</b>
                        </li>
                        <li class="list-group-item">
                            <form class="form-inline">
                              <div class="form-group">
                                <label for="key_type">模式:</label>
                                <select class="form-control" id="mode">
                                    <option value="0" {% if club.cost_mode == 0 %}selected{% endif %}>固定模式</option>
                                    <option value="1" {% if club.cost_mode == 1 %}selected{% endif %}>百分比模式</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="num">参数:</label>
                                <input type="text" class="form-control" id="param" value="{{club.cost_param}}">
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-default" onclick="update_cost()">保存</button>
                              </div>
                            </form>
                        </li>
                        <li class="list-group-item">
                            <b>格式</b><br/>
                            固定模式:100|50_200|100<br/>
                            百分比模式:0.1_0.2
                        </li>
                        <li class="list-group-item" style="background-color:#f5f5f5;">
                            <b>数据清空</b>
                        </li>
                        <li class="list-group-item">
                            <button type="button" class="btn btn-default" onclick="del_data()">数据清空</button>
                        </li>
                    </ul>
                  </div>
                  <div class="panel-footer text-right">
                    <a class="btn btn-link" href="/">返回</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        function update_cost(){
            if($('#param').val()==''){
                alert("请输入参数。");
                return;
            }
            /*if($('#profit_'+player_id).val()==''){
                alert("请输入盈利状况。");
                return;
            }*/
            $.post("/update_cost_mode",{
                mode:$('#mode').val(),
                param:$('#param').val(),
            },function(data){
                if(data.result == 0)
                    alert('保存成功！');
                else
                    alert('参数格式错误！')
            },"json");
        }

        function del_data(){
            if(confirm("确定要清空吗？") == false)
                return;
            $.post("/del_data",{
            },function(data){
                if(data.result == 0)
                    alert('清空成功！');
            },"json");
        }
    </script>
</body>
</html>